body{
		margin: 0px;
		padding: 0px;
		width:  100%;
		height: auto;
		background-color: black;
	}

canvas{
		padding: 0px;
		margin: 0px;	
	  }

/**/

/* Chrome, Safari, Opera */
/*@-webkit-keyframes zaki {
    from { top: 0; left: 0; }
  	to   { top: 500px; left: 500px; }
}*/

@-webkit-keyframes rotation {
	0% {margin-left:100px;margin-top:0px; }
	70% {margin-left:100px;margin-top:400px;}
	80% {margin-left:100px;margin-top:300px;}
	100% {margin-left:100px;margin-top:400px;display: none;}
}
@keyframes rotation {
	0% {margin-left:100px;margin-top:0px; }
	70% {margin-left:100px;margin-top:400px;}
	80% {margin-left:100px;margin-top:300px;}
	100% {margin-left:100px;margin-top:400px;}
}


@-webkit-keyframes left{
	0% {margin-left:-50%;margin-top:0px; }
	100% {margin-left:120%;}
}
@keyframes rotation right{
	0% {margin-right:-50%;margin-top:0px; }
	100% {margin-right:50%;}
}

.left{
	width: 200px;
    height: 300px;
	-webkit-animation: left 0.2s linear;
    transform:left infinite 0.2s linear;
}

.right{
	width: 200px;
    height: 300px;
	-webkit-animation: right 0.2s linear;
    transform:right infinite 0.2s linear;
}
#zaki{
  margin-left: 100px;
  width: 200px;
  height: 300px;
  -webkit-animation: rotation 2s linear;
  transform:rotation 0.2s linear;
}

#abhi{
	width: 200px;
  height: 300px;
  -webkit-animation: rotation 2s linear;
  transform: rotation 0.2s linear;

}

#zeeshan{
	margin-left: 400px;
	width: 200px;
    height: 300px;
    -webkit-animation: rotation 2s linear;
    transform: rotation 0.2s linear;
}
